services:
  h5web:
    build:
      context: ./h5web_app
      args:
        - H5GROVE_APP_PORT=${H5GROVE_APP_PORT}
        - H5WEB_APP_PORT=${H5WEB_APP_PORT}
    ports:
      - "${H5WEB_APP_PORT}:${H5WEB_APP_PORT}"

  h5grove:
    build:
      context: ./h5grove_app
      args:
        - H5GROVE_APP_PORT=${H5GROVE_APP_PORT}
    ports:
      - "${H5GROVE_APP_PORT}:${H5GROVE_APP_PORT}"
    volumes:
      - type: bind
        source: "D:/SynologyDrive/04. Data/04. Laser test"
        target: /data
        read_only: true

  copyparty:
    image: copyparty/ac
    command:
      - "-v"
      - "/data::r"
      - "-v"
      - "/ui:ui:r"
      - "--html-head=@/ui/head.html"
    volumes:
      - type: bind
        source: "D:/SynologyDrive/04. Data/04. Laser test"
        target: /data
        read_only: true
      - type: bind
        source: "./copyparty_ui"
        target: /ui
        read_only: true
    ports:
      - "3923:3923"

  fileindex:
    image: nginx:alpine
    depends_on:
      - copyparty
    ports:
      - "8090:80"
    volumes:
      - "./fileindex/default.conf:/etc/nginx/conf.d/default.conf:ro"
